/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    padding-top: 3rem;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #666666;
    line-height: 1.5em;
    text-align: center;
}
header{
    background: #333;
    color: #fff;
    height: 80px;
    margin-bottom: 20px;
}
footer{
    background: #333;
    color: #fff;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}
#books-index img{
    width: 100%;
}
#books-index {
    text-align: center;
    padding: 3px;
    /*border: 1px #ccc solid;*/
}
#books-index h3{
    height: 100px;
}
#books-index .btn{
    display:block;
    margin-top: 20px;
}

#books-show h2{
    background: #999999;
    padding: 10px;
}
.books-show-left{
    float: left;
    width: 40px;
}

/*.books-show-right{*/
/*    float: left;*/
/*    width: 60px;*/
/*    margin-top: 10px;*/
/*}*/
#books-show-btn{
    margin: 20px 0 0 70px;
}