<h1><%= @page_title %></h1>
<p>Core Features
  Filters
  Templates (scoring models)
  Requirement rules (Skills, Seniority, Degree, Geolocation, Tags)
  Geolocation rules (address, education, experience)
  Notifications
  Profiles
  Bulk export
  Bulk import
  Reports & Analytics
  Sourcing monitoring
  Screening performance
  Competency mapping (internal insights)
  Market landscape (external insights)
  API access
  Maximum queries per second
  Processing time
  Security & account access
  Secure environment - HTTPS, API keys
  Multi-user access
</p>

<div class = "well">
  <h3>Location info</h3>
  <ul>
    <li>The Bookstore</li>
    <li>Lahore pakistan street 13</li>
    <li>Boston Dynamics 1992</li>
    <li>Phone Number (92)0312-3123213</li>
    <li>Email: practiceruby@gmail.com</li>
  </ul>
</div>
