<h2>Add New Publishers</h2>

<%- form_for @puhlisher do |f| %>
  <div class="form-group">
    <%= f.label :name %><br/>
    <%= f.text_field :name, class:'form-control' %><br/>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%=link_to "Cancel", publishers_path, class: "btn btn-default" %>
<% end %>