<% if params[:controller] == 'about' %>
<div class = "well">
  <h3>Location info</h3>
  <ul>
    <li>The Bookstore</li>
    <li>Lahore pakistan street 13</li>
    <li>Boston Dynamics 1992</li>
    <li>Phone Number (92)0312-3123213</li>
    <li>Email: practiceruby@gmail.com</li>
  </ul>
</div>
<%end%>