<% if params[:controller] == 'about' %>
<div class = "well">
  <h3>Location info</h3>
  <ul>
    <li>The Bookstore</li>
    <li>Lahore pakistan street 13</li>
    <li>Boston Dynamics 1992</li>
    <li>Phone Number (92)0312-3123213</li>
    <li>Email: practiceruby@gmail.com</li>
  </ul>
</div>
<%end%>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Ruby on Rails</a>
  <a href="#" class="list-group-item list-group-item-action">PHP</a>
  <a href="#" class="list-group-item list-group-item-action">Python</a>
</div>
<%end%>